[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
discord-py = "*"
bs4 = "*"
psycopg2-binary = "*"
psycopg2 = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
iso8601 = "*"
discord-webhook = "*"

[requires]
python_version = "3.7"
